.btn, .form-control {
    border-radius: 0 !important; 
}

table th {
    text-align: center;
}

th[rowspan="2"] {
    vertical-align: middle !important;
}

li.dropdown.user a.dropdown-toggle {
    padding-left: 50px;
}

li.dropdown.user a.dropdown-toggle img {
    position: absolute;
    left: 10px;
    top: 10px;
}

@media all and (max-width: 765px){
    li.dropdown.user img {
        display: none !important;
    }
}

.logo, .content {
    text-align: center
}

.content {
    margin-bottom: 20px;
}

.profile {
    display: table;
    margin: auto;
}

.profile .avatar-container,
.profile .info-container {
    display: table-cell;
    vertical-align: top;
    padding: 5px
}


.profile .info-container .name {
    font-size: 20px;
    font-weight: 700;
}

.rollup {
    width: 280px;
    margin: 5px auto
}

.rollup .captcha-view {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.rollup .captcha-rule {
    color: blue;
    font-style: italic;
}

.cross {
    cursor: pointer;
}